<!--Including partials-->
<%- include ('../partials/head') %> 
<%- include ('../partials/loggedmenu') %>
<%- include ('../partials/message') %>

        <main>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <!--Table headers-->
                            <th>Hat Name</th>
                            <th>Hat Type</th>
                            <th>Description</th>
                            <th>Price (in $USD)</th>
                            <th>Quantity in Cart</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--populating the cart lines using ejs-->
                        <% cart_lines.forEach(function(cart_line){ %>
                            <tr>
                                <th scope="row">
                                    <%= cart_line.item_name%>
                                </th>
                                <td>
                                    <%=cart_line.item_type%>
                                </td>
                                <td>
                                    <%=cart_line.item_description%>
                                </td>
                                <td>
                                    <%=cart_line.item_price%>
                                </td>
                                <td>
                                    <%=cart_line.quantity%>
                                </td>
                                <!--delete from cart and save for later forms-->
                                <td>
                                    <img src = "<%- cart_line.item_image_link%>" alt = "<%- cart_line.item_name%>" width = "200" height = "200">
                                </td>
                                <form action = "/cart/delete" method = "POST">
                                <input hidden name = "item_id" value = "<%- cart_line.item_id%>">
                                <td>
                                    <button type = "submit" class = "btn-primary">Delete from Cart</button></td>    
                                </form>
                                <td>
                                    <form action="/cart/save-for-later" method="POST">
                                        <input type="hidden" name="item_id" value="<%- cart_line.item_id %>">
                                        <button type="submit" class="btn-primary">Save For Later</button>
                                    </form>
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>

            <!-- NEW CHANGES FOR SAVED FOR LATER -->
            <div class="container">
                <h2>Saved For Later</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <!--table headers-->
                            <th>Hat Name</th>
                            <th>Hat Type</th>
                            <th>Description</th>
                            <th>Price (in $USD)</th>
                            <th>Quantity</th>
                            <th>Actions</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--populating saved for later using ejs-->
                        <% saved_for_later.forEach(function(item){ %>
                            <tr>
                                <th scope="row"><%= item.item_name %></th>
                                <td><%= item.item_type %></td>
                                <td><%= item.item_description %></td>
                                <td><%= item.item_price %></td>
                                <td><%= item.quantity %></td>
                                <td>
                                    <!--foorms for moving to cart or deleting saved for later-->
                                    <form action="/cart/move-to-cart" method="POST">
                                        <input type="hidden" name="item_id" value="<%= item.item_id %>">
                                        <button type="submit" class="btn-primary">Move to Cart</button>
                                    </form>
                                    <form action="/cart/delete-saved-item" method="POST">
                                        <input type="hidden" name="item_id" value="<%= item.item_id %>">
                                        <button type="submit" class="btn-danger">Delete Item</button>
                                    </form>
                                </td>
                                <td>
                                    <img src="<%- item.item_image_link %>" alt="<%- item.item_name %>" width="200" height="200">
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
            <!-- if cart lines are greater than 0, display form for posting an order-->
        <% if(cart_lines.length > 0) { %>
            <div class = "container text-center">
                <form action = "/orders/create" method = "POST">
                    <label for="shipping_address" class="form-label">Shipping Address</label>
                    <input type = "text" id = "shipping_address" name = "shipping_address" placeholder = "Ex: 123 Main St."/>
                    <label for="shipping_city" class="form-label">Shipping City</label>
                    <input type = "text" id = "shipping_city" name = "shipping_city" placeholder = "Ex: New York City"/>
                    <label for="shipping_state" class="form-label">Shipping State</label>
                    <input type = "text" id = "shipping_state" name = "shipping_state" placeholder = "Ex: New York"/>
                    <label for="shipping_country" class="form-label">Shipping Country</label>
                    <input type = "text" id = "shipping_country" name = "shipping_country" placeholder = "Ex: USA"/>
                    <label for="shipping_zip" class="form-label">Shipping Zip</label>
                    <input type = "text" id = "shipping_zip" name = "shipping_zip" placeholder = "Ex: 12345"/>
                    <button type = "submit" class = "btn-primary">Place Order</button>
                </form>
            </div>
            <% } %>
        </main>

        <%- include ('../partials/footer') %>