<%- include ('../partials/head') %> 
<%- include ('../partials/menu') %>

<script src= 
    "https://smtpjs.com/v3/smtp.js"> 
  </script> 
  
  <script type="text/javascript"> 
    function sendEmail() { 
      Email.send({ 
        Host: "smtp.mailslurp.com", 
        Username: "14037310-750a-4ea2-a92f-df4456ed7ba9@mailslurp.com", 
        Password: "oxvpftwlkwvejaud", 
        To: "maksimseniw@gmail.com", 
        From: "seniwprogramming@gmail.com", 
        Subject: "Your Hat Hub Order", 
        Body: "Hello", 
      }) 
        .then(function (message) { 
          alert("mail sent successfully") 
        }); 
    } 
  </script> 

        <main>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Hat Name</th>
                            <th>Hat Type</th>
                            <th>Description</th>
                            <th>Price (in $USD)</th>
                            <th>Quantity in Cart</th>
                            <th>Image</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% cart_lines.forEach(function(cart_line){ %>
                            <tr>
                                <th scope="row">
                                    <%= cart_line.item_name%>
                                </th>
                                <td>
                                    <%=cart_line.item_type%>
                                </td>
                                <td>
                                    <%=cart_line.item_description%>
                                </td>
                                <td>
                                    <%=cart_line.item_price%>
                                </td>
                                <td>
                                    <%=cart_line.quantity%>
                                </td>
                                <td>
                                    <img src = "<%- cart_line.item_image_link%>" alt = "<%- cart_line.item_name%>" width = "200" height = "200">
                                </td>
                                <form action = "/cart/delete" method = "POST">
                                <input hidden name = "item_id" value = "<%- cart_line.item_id%>">
                                <td>
                                    <button type = "submit" class = "btn-primary">Delete from Cart</button></td>    
                                </form>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
            <div class = "container text-center">
                <form action = "/orders/create" method = "POST">
                    <label for="shipping_address" class="form-label">Shipping Address</label>
                    <input type = "text" id = "shipping_address" name = "shipping_address" placeholder = "Ex: 123 Main St."/>
                    <label for="shipping_city" class="form-label">Shipping City</label>
                    <input type = "text" id = "shipping_city" name = "shipping_city" placeholder = "Ex: New York City"/>
                    <label for="shipping_state" class="form-label">Shipping State</label>
                    <input type = "text" id = "shipping_state" name = "shipping_state" placeholder = "Ex: New York"/>
                    <label for="shipping_country" class="form-label">Shipping Country</label>
                    <input type = "text" id = "shipping_country" name = "shipping_country" placeholder = "Ex: USA"/>
                    <label for="shipping_zip" class="form-label">Shipping Zip</label>
                    <input type = "text" id = "shipping_zip" name = "shipping_zip" placeholder = "Ex: 12345"/>

                    <!-- <button type = "submit" class = "btn-primary">Place Order</button> -->
                    <form method="POST"> 
                        <input type="button" value="Place Order" class = "btn-primary"
                            onclick="sendEmail()" /> 
                      </form> 

                </form>
            </div>
        </main>

        <%- include ('../partials/footer') %>