<%- include ('../partials/head') %> 
<%- include ('../partials/menu') %>

        <main>
            <div class="container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Order Date</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(function(order){ %>
                            <tr>
                                <th scope="row">
                                    <%= order.order_id%>
                                </th>
                                <td>
                                    <%=order.order_date%>
                                </td>
                                <td>
                                    <p>$<%= order.order_total%></p>
                                </td>
                                <form action = "/orders/delete" method = "POST">
                                <input hidden name = "order_id" value = "<%=order.order_id%>">
                                <td>
                                    <button type = "submit" class = "btn-primary">Cancel Order</button></td>    
                                </form>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </main>

        <%- include ('../partials/footer') %>